* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    width: 1300px;
    margin: auto;
}

/* ------------------ section-1 ---------------- */
.bg-1 {
    background: grey;
}

.navbar nav {
    display: flex;
    justify-content: space-between;
    color: #fff;
    padding: 30px 0;
}

.btn {
    display: none;
}

.navbar nav ul {
    display: flex;
}

.navbar nav ul li {
    list-style: none;
    padding: 0 20px;
    display: block;
}

.navbar nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: all 1s;
}

.navbar nav ul li a:hover {
    color: rgba(255, 68, 0, 0.829);
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    color: #fff;
    position: relative;

    background-image: linear-gradient(rgba(0, 0, 0, 0.493), rgba(0, 0, 0, 0.648)), url("../img/home-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: grid;
    animation: bgimg 10s ease-in-out infinite;
}

.home h2 {
    color: #fff;
    font-size: 40px;
}

@keyframes bgimg {
    0% {
        background-image: linear-gradient(rgba(0, 0, 0, 0.493), rgba(0, 0, 0, 0.648)), url("../img/home-img1.avif");
    }

    50% {
        background-image: linear-gradient(rgba(0, 0, 0, 0.306), rgba(0, 0, 0, 0.388)), url("../img/home-img2.avif");
    }

    70% {
        background-image: linear-gradient(rgba(0, 0, 0, 0.329), rgba(0, 0, 0, 0.42)), url("../img/home-img3.avif");
    }

    100% {
        background-image: linear-gradient(rgba(0, 0, 0, 0.333), rgba(0, 0, 0, 0.384)), url("../img/home-img4.avif");
    }
}

.home i {
    position: absolute;
    bottom: 30px;
    left: 660px;
    font-size: 25px;
    cursor: pointer;
}


/* ------------------ section-2 ---------------- */
.sec2 {
    width: 50%;
    margin: 80px auto;
    text-align: center;
}

.col30 {
    width: 30%;
}


.sec2 p {
    font-weight: 600;
    padding-bottom: 20px;
}

.sec2 h2 {
    font-size: 44px;
    /* font-weight: 800; */
}

.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.boxes .box {
    margin: 10px 0px;
    border: 2px solid grey;
    text-align: center;
    padding: 30px 0;
}

.boxes .box p {
    width: 60%;
    margin: 15px auto;
}

.boxes .box a {
    text-decoration: none;
    color: red;
    font-weight: 600;
}

.boxes .box i {
    padding: 20px 0;
    font-size: 30px;
    color: red;
}


/* ------------------ section-3 ---------------- */
.sec3 {
    display: flex;
    justify-content: space-between;
    margin: 90px 0;
    flex-wrap: wrap;
    gap: 20px;
}

.col20 {
    width: 20%;
}

.sec3 .sec3-box {
    background: rgba(0, 0, 0, 0.805);
    border-radius: 10px;
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 55vh;
    padding: 0 20px;
    justify-content: center;
}

.sec3 .sec3-box i {
    color: red;
    font-size: 40px;
    transition: all 1s;
}

/* .sec3 .sec3-box i:hover{
    transform: scale(2,0);
} */

.sec3 .sec3-box h3 {
    margin: 30px 0;
    width: 50%;
    font-size: 30px;
}

.sec3 .sec3-box p {
    color: grey;
}


/* ------------------ section-4 ---------------- */
/* slider */
.slider {
    width: 50%;
    margin: 100px auto;
}

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-prev:before,
.slick-next:before {
    color: black;
}

.slick-slide {
    transition: all ease-in-out .3s;
    opacity: .2;
}

.slick-active {
    opacity: .5;
}

.slick-current {
    opacity: 1;
}

.work {
    text-align: center;
}

.work h4,
h2 {
    padding: 10px 0;
}

.work h2 {
    font-size: 40px;
    font-weight: 800;
}

.sec4 img {
    width: 400px;
    height: 400px;
    margin: 20px 0;
}

.sec4 h5 {
    font-size: 15px;
    margin: 5px 0;
}

.slick-slider {
    overflow-x: hidden !important;
}

.sec4-slides img {
    width: 400px;
    height: 400px;
    margin: 40px 0;
}

/* ------------------ section-5 ---------------- */
.bg-5 {
    background: rgba(0, 0, 0, 0.824);
}

.dream {
    text-align: center;
    width: 40%;
    margin: 70px auto;
    padding: 50px 0;
    color: #fff;
}

.dream h2 {
    font-size: 40px;
}

.dream p {
    font-size: 15px;
    line-height: 25px;
}

.sec5-slides img {
    width: 400px;
    height: 300px;
}

/* ------------------ section-6 ---------------- */
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.col70 {
    width: 70%;
}

.sec6 {
    padding: 80px 0;
}

.discover-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
}

.discover-text h3 {
    font-size: 35px;
    width: 50%;
}

.discover-text p {
    margin: 10px 0;
    line-height: 25px;
}

.cart {
    background: #00000042;
    padding: 30px 0;
    text-align: center;
    border-radius: 5px;
    color: #fff;
}

.cart .price {
    background: rgba(255, 68, 0, 0.631);
    margin: 20px 0;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
}

.cart span {
    font-size: 15px;
}

.cart h4 {
    font-size: 25px;
    line-height: 40px;
}

.content {
    color: grey;
}

.content p {
    padding: 10px 0;
}

.content .check {
    color: rgba(255, 0, 0, 0.533);
}

.content button {
    background: rgba(255, 68, 0, 0.631);
    width: 90px;
    height: 30px;
    border: none;
    border-radius: 5px;
    color: #fff;
    transition: all 1s;
}

.content button:hover {
    border: 2px solid #fff;
    background: transparent;
    cursor: pointer;
}

/* ------------------ section-7 ---------------- */
.col50 {
    width: 50%;
}

.news {
    text-align: center;
    margin: 70px 0;
    position: relative;
}

.news h2 {
    font-size: 30px;
    margin: 20px 0;
}

.imgs img {
    width: 95%;
}

.imgs p {
    margin: 10px 0;
    color: rgba(128, 128, 128, 0.871);
}

.imgs .posi-box {
    background: rgb(209, 206, 206);
    position: absolute;
    bottom: -30px;
    left: 65px;
    height: 90px;
    width: 40%;
    text-align: left;
    padding: 10px 30px;
    border-radius: 5px;
}

.imgs .posi-box1 {
    background: rgb(209, 206, 206);
    position: absolute;
    bottom: -30px;
    right: 65px;
    height: 90px;
    width: 40%;
    text-align: left;
    padding: 10px 30px;
    border-radius: 5px;
}

/* ------------------ section-8 ---------------- */
.build {
    background: orangered;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40vh;
    color: #fff;
    border-radius: 5px;
}

.build h2 {
    font-size: 40px;
}

.build button {
    background: #fff;
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 5px;
    color: orangered;
    font-weight: 600;
    transition: all 1s;
}

.build button:hover {
    border: 2px solid #fff;
    background: transparent;
    color: #fff;
    cursor: pointer;
}

/* ------------------ section-9 ---------------- */
.footer {
    margin: 50px 0;
}

.footer .iconic {
    padding-top: 80px;
    color: orangered;
}

.footer ul li {
    padding: 10px 0;
    list-style: none;
}

.footer ul li a {
    text-decoration: none;
    color: #000;
}

.footer .iconic i {
    padding: 0 10px;
}

@media (max-width: 1200px) {
    .container {
        width: 100%;
    }
}


@media (max-width: 992px) {
    .bg-1 {
        overflow: hidden;
    }

    .container {
        width: 100%;
        padding: 0 20px;
        position: relative;
    }

    .navbar nav {
        padding: 25px 0;
    }

    .navbar nav ul {
        position: absolute;
        display: block;
        background-color: rgb(178 175 175);
        height: 100vh;
        width: 30%;
        border-radius: 10px 0px 0 0;
        top: 0px;
        right: -50%;
        z-index: 100;
        transition: all 1s;
    }

    .navbar nav ul li {
        padding: 20px 20px;
        border-bottom: 2px solid grey;
    }

    .navbar nav ul li a {
        color: black;
        font-size: 20px;
    }

    nav.active ul {
        display: block;
        right: 0%;
    }

    .btn {
        font-size: 25px;
        display: block;
        z-index: 100;
        color: #000;
    }

    .home i {
        left: 450px;
    }

    .sec2 {
        width: 100%;
    }

    .sec3 .sec3-box h3 {
        width: 42%;
    }

    /* sec7 */
    .imgs .posi-box {
        left: 40px;
        width: 41%;
    }

    .imgs .posi-box1 {
        right: 40px;
    }

}

@media (max-width: 768px) {
    .container {
        width: 100%;
    }

    .col20 {
        width: 48%;
    }

    .navbar nav ul {
        width: 50%;
    }

    .home i {
        left: 330px;
    }

    .sec2 {
        width: 100%;
    }



    .imgs .posi-box {
        width: 40%;
        font-size: 10px;
        left: 35px;
    }

    .imgs .posi-box1 {
        width: 40%;
        right: 35px;
        font-size: 10px;
    }
}

@media (max-width: 576px) {
    .container {
        width: 100%;
    }

    .col20 {
        width: 100%;
    }

    .col30 {
        width: 100%;
    }

    .col50 {
        width: 100%;
    }

    .navbar nav ul {
        position: absolute;
        border-radius: 10px 0px 0 0;
        width: 60%;
        right: -63%;
    }

    .navbar nav.active ul {
        display: block;
        right: 0%;
    }

    .home i {
        left: 250px;
    }

    .sec2 h2 {
        font-size: 30px;
    }

    /* sec5 */
    .dream {
        width: 71%;
    }

    /* sec6 */
    .discover-text h3 {
        width: 66%;
        margin: auto;
        text-align: center;
    }

    .discover-text p {
        text-align: center;
    }

    .cart {
        margin: 15px 0;
    }

    /* sec7 */
    .imgs img {
        margin: 25px 0;
    }

    .imgs .posi-box {
        width: 85%;
        top: 365px;
    }

    .imgs .posi-box1 {
        width: 85%;
        bottom: -10px;
    }

    /* footer */
    .footer {
        text-align: center;
    }

    .footer ul li {
        padding: 20px 0;
    }
}